

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

.navbar img{
width: 198.07px;
height: 59px;
left: 212px;
top: 30px;
}
.navbar{
    padding-top:20px;
}
.nav-item{
    margin: 0px 10px;
    font-size: 16px;
    font-weight: 600;
}

.btn{
    background-color: #21B573;
    color: white;
    border-radius: 20px;
    padding: 10px 30px;
    align-items: center;
}

.hero-content{
    padding-top: 50px;
    padding-bottom: 50px;

}
.hero-content h1{
    font-size: 48px;
    font-weight: 700;
    
}
.hero-content span{
    color: #21B573;
}
.hero-content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    color: #6C6B6B;
}
.hero-content img {
    width: 554px;
    height: 346px;
    left: 700px;
    top: 150px;
}

.box1 img{
    width: 70px;
}

.box1{
    gap: 20px;
}

.col-md-2{
    width: 23%;

}
.box2{
    padding: 50px 0;
}

.margin1{
    margin-top: 50px;
}

.rounded{
border-radius: 5%;
}